@import "variable";

html,
body {
    font-family: $bodyfont;
    font-weight: 300;
    font-size: 14px;
}

h2,
h3,
h4 {
    color: $principal;
}

h2 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

.patrocinadores {
    img {
        opacity: 0.6;
    }
}

.legal {
    font-size: 0.7857142857142857em;
}

.bg-gris {
    background-color: $gris;
}

.menu-principal {
    a {
        &.nav-link {
            color: white;
            text-transform: uppercase;
            padding-right: 1rem;
            padding-left: 1rem;
        }
    }
}

.bg-primary {
    background-color: $principal !important;
}

.rss-header {
    a {
        border-left: 1px solid #fff;
    }
}

.carousel-indicators {
    li {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        opacity: .9;
        margin: 0 5px;

        &.active {
            background-color: $principal;
            opacity: 1;

        }
    }

}

.carousel-item {
    img {
        height: auto;
    }
}

.btn-invest {
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    border-left: 0px transparent;
    border-right: 0 transparent;
    padding: .5rem 4rem;
    line-height: 1.5;
    color: white;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        color: white;
        background-color: #343a40 !important;
    }
}

#map {
    height: 450px;
    border: 1px solid $principal;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding: 1rem;
    }
}

.table {
    .thead-primary {

        th {
            text-transform: uppercase;
            font-weight: 300;
            border: none;
            color: #fff;
            background-color: $principal;
            border-color: #32383e;

            a {
                text-decoration: none;
                color: #fff;
                opacity: .8;
            }
        }
    }

    &.table-striped tbody tr:nth-of-type(odd) {
        background-color: #ebefec;
    }

    &.table-hover tbody tr:hover {
        background-color: #dce0dd;
    }
}

.pagination {
    .page-item {
        &.active {
            .page-link {
                background-color: $principal;
                border-color: $principal;
                color: #fff;
            }
        }

        .page-link {
            color: $principal;
        }
    }
}
