@import 'variable'; //(All the predefine varialbes colors and etc)

.roleAd {
    background-color: $danger;
}

.roleAs {
    background-color: $primary;
}

.roleGe {
    background-color: $success;
}

.roleGe {
    background-color: $warning;
}
